body {
  background-image: url('{{ site.baseurl }}/ig.png');
}
h1 {
    color: #fff !important;
    font: 72px/72px "lato" !important;
    letter-spacing: -2px !important ;
    text-transform: uppercase !important; 
  }

  
