.intro#intro {
  background: #fff;
  padding: 125px 0 250px 0; 
  height: 800px;
  width:100%;}
.text#works {
  background: #555555;
  padding: 125px 0 250px 0; 
  height: 800px;
  width:100%;}
  