<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<title>ParkerdeWaal.com</title>

	<!-- Metadata & Icons -->
	<meta charset="UTF-8">

	<!-- CSS and Fonts-->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="assets/css/main.css" type="text/css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
<body>

	{{ content }}

	<!-- Le Javascript -->
	<script type="text/javascript" src="assets/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

</body>
</html>