<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<title>ParkerdeWaal.com</title>

	<!-- Metadata & Icons -->
	<meta charset="UTF-8">

	<!-- CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="screen" />


</head>
<body>
	<div class="container">
	<div class="row">
		{{ content }}
	</div>
</div>

	<!-- Le Javascript -->
	<script type="text/javascript" src="assets/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

</body>
</html>